# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build
dist/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfstate.*
crash.log

# Terraform zips (ej: paquetes Lambda)
terraform/*.zip
terraform/credentials.txt

# Environment files
.env
*.env

# Mac / Linux system files
.DS_Store
Thumbs.db
